/* RESET */
*{
	margin-top: 0;
	padding: 0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif; 
	font-weight: normal;
	box-sizing: border-box;
	border: none;
	outline: none;
}

img{max-width: 100%;}
ul{list-style: none;}
a{text-decoration: none;}
h2{
	font-size: 1.5em;
	color: #333;
}
p{
	font-size: 1em;
	color: #777;
}
/* CABEÇALHO */
.cabecalho{
	width: 100%;
	float: left;
	padding: 20px 8%;
	background-color:  #dfff80;
}
#interface{
	width:100px;
	height:100px;
	float:left;
}
.logo a{
	width: 221px;
	height: 48px;
	float: left;
	margin: 70px auto auto -160px; /*posicionamento de cima, direita, baixo e esquerda*/
	background: url(../img/logo.png) no-repeat;
	font-size: 0;
}
/* MENU */
.menu{
	width: 100%;
	float: left;
	background-color: #111;
	padding: 18px 8%;
}
.menu li{float: left;}
.menu li a{
	color: #9d9d9d;
	margin-right: 25px;
}
.menu li a:hover{color: #fff;}
/* PRINCIPAL */
.principal{
	width: 100%;
	float: left;
	padding: 20px 8%;
}
.sobre{
	width: 70%;
	float: left;
	padding: 0 20px 20px 0;
}
.sobre h2{margin-bottom: 15px;}
/*.sobre img{
	width: 50%;
	float: left;
	border-radius: 5px;
	margin: 0 15px 15px 0;
}*/
.sobre p
{
	text-align: justify;
	margin:     30px 150px auto 100px; /*posicionamento do texto*/
}
#video iframe
{
	margin: 			20px auto 15px 100px; /*poicionamento do vídeo*/
}
/* ONDE ESTAMOS */
.onde-estamos{
	width: 40%;
	float: right;
	padding: 10px 20px;
	background-color: #f5f5f5;
	border-radius: 5px;
}
.onde-estamos h2{margin-bottom: 5px;}
.onde-estamos iframe{width: 100%; height: 250px; margin: 20px 0;}
/* NEWSLETTER */
.newsletter { width: 100%; float: left; background-color: #111; padding: 50px 8% }
.newsletter h3 { font-size: 1.8em; color: #fff; }
.newsletter p { font-size: 1.2em; color: #fff; }
.newsletter form { width: 100%; float: left; margin-top: 10px; }
.newsletter form input { width: 40%; margin-right: 1%; padding: 15px 10px; border: 1px solid #fff; border-radius: 5px; color: #fff; background-color: initial; float: left; }
.newsletter button { width: 18%; background-color: #fff; padding: 15px 10px; border-radius: 5px; float: right; cursor: pointer; }
/*FACEBOOK E INSTAGRAM*/
#facebook
{
	height: 30px; /*Altura da img FACEBOOK*/
	width: 	30px; /*Largura da img FACEBOOK*/
	margin: -50px auto auto 1010px; /*posicionamento de cima, direita, baixo e esqueda*/
	border-radius: 5px;
}
#instagram
{
	height: 30px; /*altura da imagem INSTAGRAM*/
	width: 	30px; /*largura da imagem INSTAGRAM*/
	margin: 100px auto 20px 1050px; /*posicionamento de cima, direita, baixo e esqueda*/
}